@using PlacePick.Site.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row" style="margin-top: 100px;">
    <div class="col-md-4 col-lg-offset-4">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zaloguj" class="btn btn-default" />
                    </div>
                </div>
                @*<p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>*@
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@*<div id="login-form">
    <div class="middlePage">
        <div class="page-header">
            <h1 class="logo">Techulus <small>Welcome to our place!</small></h1>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-5">
                        <a href="#"><img src="http://techulus.com/buttons/fb.png" /></a><br />
                        <a href="#"><img src="http://techulus.com/buttons/tw.png" /></a><br />
                        <a href="#"><img src="http://techulus.com/buttons/gplus.png" /></a>
                    </div>

                    <div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
                        <form class="form-horizontal">
                            <fieldset>

                                <input id="textinput" name="textinput" type="text" placeholder="Enter User Name" class="form-control input-md">
                                <div class="spacing"><input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small> Remember me</small></div>
                                <input id="textinput" name="textinput" type="text" placeholder="Enter Password" class="form-control input-md">
                                <div class="spacing"><a href="#"><small> Forgot Password?</small></a><br /></div>
                                <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign In</button>


                            </fieldset>
                        </form>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
login-form {
    width:100px;
	height:100px;
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
font-family: 'Raleway', sans-serif;
}

p {
	color:#CCC;
}

.spacing {
	padding-top:7px;
	padding-bottom:7px;
}
.middlePage {
	width: 680px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo {
	color:#CCC;
}
</style>